@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

body {
  background: #FDEBF7;
  color: #111;
  font-family: 'Raleway',sans-serif;
}

a {
  color: #222;
  text-decoration: none;
}

.content {
  max-width: 960px;
  margin: 0 auto;
}

nav {
  margin: 10px auto 70px;
  padding: 4px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #777;
}

nav a {
  margin-left: 15px;
}

nav .logo {
  margin-right: auto;
}

footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #666;
  border-top: 1px solid #777;
}

.not-found {
  text-align: center;
}

.not-found a {
  color: rgb(77, 8, 56);
  text-decoration: underline;
}