.title {
  color: #222;
  padding-bottom: 15px;
  text-align: center;
}

.text {
  color: #333;
}

.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  border-radius: 4px;
  margin: 20px auto;
  background: rgb(77, 8, 56);
  text-align: center;
  color: #fff;
}